<div class="container py-5 my-md-5">
  <div class="row justify-content-center">
    <div class="col-lg-10 col-12">
      <!-- Section Header -->
      <div class="text-center mb-5">
        <span class="section_label">DISCOVER</span>
        <h1 class="section_title mt-2 mb-4">ABOUT ME</h1>
        <div class="title_bar mx-auto"></div>
      </div>
      
      <!-- Premium Glassmorphic Card -->
      <div class="about_card">
        <div class="row align-items-center">
          <!-- Left Highlight Section -->
          <div class="col-md-4 mb-4 mb-md-0 text-center">
            <div class="about_highlight">
              <i class="fa fa-terminal highlight_icon"></i>
              <h3>Frontend Developer</h3>
              <p class="highlight_sub">Angular & React Specialist</p>
            </div>
          </div>
          
          <!-- Right Content Section -->
          <div class="col-md-8">
            <div class="about_content">
              <p class="aboutmeDesc" [innerHTML]="bio_1"></p>
              <p class="aboutmeDesc" [innerHTML]="bio_2"></p>
              
              <div class="connect_text mt-4 pt-3">
                <i class="fa fa-handshake-o mr-2"></i> Let’s connect and create something amazing together!
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>