<!-- <div class="container">
    <div class="contact1" *ngIf="!contactView">
        <ul>
          <li class="insta"><a href="https://www.linkedin.com/in/cp-praveen-84218b190"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="https://github.com/ItCPPraveen"><i class="fa fa-github"></i></a></li>
          <li><a href="mailto:cppraveen02@gmail.com"><i class="fa fa-envelope"></i></a></li>
          <li><a href="https://github.com/ItCPPraveen"><i class="fa fa-phone"></i></a></li>
        </ul>
    </div>
</div> -->
<div class="container py-5 my-md-5">
  <div class="row align-items-center justify-content-between contact_row">
    <!-- Left Column: Intro Message -->
    <div class="col-lg-5 col-12 mb-5 mb-lg-0 text-center text-lg-left">
      <span class="contact_label">GET IN TOUCH</span>
      <h1 class="contact_title mt-2 mb-4">SAY HELLO</h1>
      <p class="contact_intro">
        I'm always open to new opportunities, collaborations, or just connecting. Whether you want to discuss a project, have a question, or simply want to chat about frontend development, feel free to reach out through any of these channels!
      </p>
    </div>

    <!-- Right Column: Glassmorphic Contact Cards -->
    <div class="col-lg-6 col-12">
      <div class="contact_cards_wrapper">
        
        <a [href]="c.url" [target]="c.platform.toUpperCase() === 'EMAIL' || c.platform.toUpperCase() === 'PHONE' ? '_self' : '_blank'" class="contact_card_link" *ngFor="let c of contacts; let last = last">
          <div class="contact_card d-flex align-items-center" [class.mb-4]="!last">
            <div class="icon_container d-flex align-items-center justify-content-center">
              <i class="fa {{ c.icon }}"></i>
            </div>
            <div class="info_section ml-4">
              <h3 class="card_head">{{ c.platform.toUpperCase() }}</h3>
              <p class="card_value">{{ c.value }}</p>
            </div>
            <div class="arrow_container ml-auto">
              <i class="fa fa-chevron-right"></i>
            </div>
          </div>
        </a>

      </div>
    </div>
  </div>
</div>