<!-- <div class="container">
    <div class="contact1" *ngIf="!contactView">
        <ul>
          <li class="insta"><a href="https://www.linkedin.com/in/cp-praveen-84218b190"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="https://github.com/ItCPPraveen"><i class="fa fa-github"></i></a></li>
          <li><a href="mailto:cppraveen02@gmail.com"><i class="fa fa-envelope"></i></a></li>
          <li><a href="https://github.com/ItCPPraveen"><i class="fa fa-phone"></i></a></li>
        </ul>
    </div>
</div> -->
<div class="container">
  <div class="d-flex flex-wrap justify-content-center align-items-center">
    <div class="col-md-5 col-12 p-3">
      <h1 class="hello">
        SAY HELLO
      </h1>
    </div>
    <div class="col-md-5 col-12 p-3 links_con position-relative">
      <div class="mb-5">
        <h3 class="contact_head">
          EMAIL
        </h3>
        <div class="w-100 h-line">

        </div>
        <a class="contant_link" href="mailto:cppraveen02@gmail.com">
          <div class="d-flex align-items-center">
            <i class="fa fa-envelope"></i>
            <p class="my-3 mx-4">
              {{gmail}}
            </p>
          </div>
        </a>
      </div>
      <div class="mb-5">
        <h3 class="contact_head">
          GITHUB
        </h3>
        <div class="w-100 h-line">

        </div>
        <a class="contant_link" href="https://github.com/ItCPPraveen">
          <div class="d-flex align-items-center">
            <i class="fa fa-github"></i>
            <p class="my-3 mx-4">
              ItCPPraveen
            </p>
          </div>
        </a>
      </div>
      <div class="mb-5">
        <h3 class="contact_head">
          LINKEDIN
        </h3>
        <div class="w-100 h-line">

        </div>
        <a class="contant_link" href="https://www.linkedin.com/in/cp-praveen-84218b190">
          <div class="d-flex align-items-center">
            <i class="fa fa-linkedin"></i>
            <p class="my-3 mx-4">
              Cp Praveen
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>