
.header{
    padding-bottom: 20px;
}
.name{
    font-family: spartan;
    position: absolute;
    color: white;
    left: 30px;
    padding: 40px;
}
.name a{
    text-decoration: none;
    color: white;
    font-family: spartan;

}
.pic img{
    height: 88px;
    width: 86px;
    border-radius: 100000px;
    filter: drop-shadow(1px 2px 10px #161616);
    object-fit: contain;
    mix-blend-mode: difference;
}
.pic{
    border-radius: 50%;
    background-color: #fff;
	border: 3px solid white;
}
.aboutme{
    padding: 20px;
	padding-left: 0;
}
.resume{
    padding: 20px;
}
.headercon{
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Alegreya Sans", sans-serif;
}

body {
	display: grid;
	place-content: center;
	min-height: 100vh;
	background-color: #1e1e1e;
}

.aboutme1 {
	position: relative;
	display: flex;
	gap: 28px;
}

.aboutme1 li {
	position: relative;
	list-style: none;
	width: 40px;
	height: 40px;
	border-radius: 72px;
	background: #1e1e1e;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0 0 2px #fff;
	transition: 100ms;
}

.aboutme1 li:hover {
	width: 120px;
	box-shadow: 0 0 0 2px var(--bg-color);
}

.aboutme1 li::before {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 32px;
	background: var(--bg-color);
	opacity: 0;
	transition: 3ms;
    font-family: spartan;

}

.aboutme1 li:hover::before {
	opacity: 1;
}

.aboutme1 li span {
	position: absolute;
}

.aboutme1 li i {
	color: #fff;
	font-size: 2em;
	transition: 3ms;
	transition-delay: 2ms;
    font-size: 20px;
	
}
.aboutme a{
    text-decoration: none;
    color: white;
    font-family: spartan;
}

.aboutme1 li:hover i {
	transform: scale(0);
	color: #fff;
	transition-delay: 0s;
}

.aboutme1 li .text1 {
	color: #fff;
	font-size: 1.5em;
	z-index: 1;
	font-weight: 400;
	letter-spacing: 0.024em;
	opacity: 0;
	transition: 3ms;
	letter-spacing: -0.125px;
    font-family: spartan;
}

.aboutme1 li:hover .text1 {
	opacity: 1;
}


.resume li {
	position: relative;
	list-style: none;
	width: 40px;
	height: 40px;
	border-radius: 72px;
	background: #1e1e1e;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0 0 2px #fff;
	transition: 100ms;
}

.resume li:hover {
	width: 120px;
	box-shadow: 0 0 0 2px var(--bg-color);
}

.resume li::before {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 32px;
	background: var(--bg-color);
	opacity: 0;
	transition: 3ms;
    font-family: spartan;

}

.resume li:hover::before {
	opacity: 1;
}

.resume li span {
	position: absolute;
}

.resume li i {
	color: #fff;
	font-size: 2em;
	transition: 3ms;
	transition-delay: 2ms;
    font-size: 20px;

}

.resume li:hover i {
	transform: scale(0);
	color: #fff;
	transition-delay: 0s;
}

.resume li .text {
	color: #fff;
	font-size: 1.5em;
	z-index: 1;
	font-weight: 400;
	letter-spacing: 0.024em;
	opacity: 0;
	transition: 3ms;
	letter-spacing: -0.125px;
    font-family: spartan;
}

.resume li:hover .text {
	opacity: 1;
}

.contact1 ul{
	max-width: 65px;
	
}
.contact1 ul li{
	margin: 10px;
	list-style: none;
	padding: 10px;
	border-radius: 23px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

}
.contact1{
	position: fixed;
	z-index: 9;
	right: 0;
	top: 35%;
	display: flex;
	align-items: center;
}
.contact1 a {
	
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}
.contact1 i{
	color: #fff;
	font-size: 23px;
}

.insta{
	border-radius: 100%;
	padding: 0;
	
}


.contact li {
	position: relative;
	list-style: none;
	width: 40px;
	height: 40px;
	border-radius: 72px;
	background: #1e1e1e;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0 0 2px #fff;
	transition: 100ms;
}

.contact li:hover {
	width: 120px;
	box-shadow: 0 0 0 2px var(--bg-color);
}

.contact li::before {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 32px;
	background: var(--bg-color);
	opacity: 0;
	transition: 3ms;
    font-family: spartan;

}

.contact li:hover::before {
	opacity: 1;
}

.contact li span {
	position: absolute;
}

.contact li i {
	color: #fff;
	font-size: 2em;
	transition: 3ms;
	transition-delay: 2ms;
    font-size: 20px;

}

.contact li:hover i {
	transform: scale(0);
	color: #fff;
	transition-delay: 0s;
}

.contact li .text {
	color: #fff;
	font-size: 1.5em;
	z-index: 1;
	font-weight: 400;
	letter-spacing: 0.024em;
	opacity: 0;
	transition: 3ms;
	letter-spacing: -0.125px;
    font-family: spartan;
}

.contact li:hover .text {
	opacity: 1;
}
.contact a{
	text-decoration: none;
	color: white;
}
.resume a{
	text-decoration: none;
	color: white;
}
