<div class="home_con pt-5 container">
    <div class="overview">
        <div class="col-lg-7 text-center text-md-left col-12 m-auto">
            <div class="px-2">
                <h1 class="home_name">
                    PRAVEEN 
                </h1>
                <p class="developer">DEVELOPER</p>
                <div class="desccon">
                    <p class="description">
                        I am a frontend developer with a passion for Software Engineering. I have 6 months of internship experience as UI developer. My journey has been guided by an insatiable curiosity and a desire to continuously learn and grow.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>