<div class="home" >
    <img src="../../assets/31477.jpg" alt="">
</div>
<div>
    <div class="overview">
        <div>
            <h1 >
                PRAVEEN <br> <p>DEVELOPER</p> 
            </h1>
            <div class="desccon">
                <p class="description">
                    I am a frontend developer with a passion for Software Engineering. I have 6 months of internship experience as UI developer. My journey has been guided by an insatiable curiosity and a desire to continuously learn and grow.
                </p>
            </div>
        </div>
    </div>
</div>