<div class="home_con pt-5 container">
    <div class="overview">
        <div class="col-lg-7 text-center text-md-left col-12 m-auto">
            <div class="px-2">
                <h1 class="home_name">
                    {{ name }}
                </h1>
                <p class="developer">{{ tagline }}</p>
                <div class="desccon">
                    <p class="description">
                        {{ bio_1 }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>